body{
    min-width: 700px!important;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 2px 0;
    font-family: cursive;
    border: none;
    margin-left:29.5px ;
    font-size: 15px;
    cursor: pointer;
    width: 85%;
}

button:hover {
opacity: 0.8;
}
.labels{
    margin-left:29.5px ;
    font-size: 15px;
    font-family: cursive;

}
input[type=text], input[type=password] {
  
  width: 85%;
  padding: 12px 20px;
  margin: 2px 0;
  /* display: inline-block; */
  border: 2px solid #ccc;
  box-sizing: border-box;
  margin-left:29.5px ;
  margin-block: 10px;
  
}
.container {
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    width: 450px;
    padding: 25px;
    padding-bottom: 30px;
    /* margin-left: 495px; */
    padding-right: 50px;
    margin-top: 50px;
}
@media screen and (max-width: 738px) {
    body{
      overflow-x: scroll;
      width: 738px;
    }
  }