
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  min-width: 700px!important;
}
.container {
  box-shadow:0 5px 15px rgba(0,0,0,.2);
  width: 450px;
  padding: 25px;
  padding-bottom: 30px;
  /* margin-left: 495px; */
  padding-right: 50px;
  margin-top: 50px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  margin: 2px 0;
  border: none;
  margin-left:29.5px ;
  font-family: cursive;
  font-size: 25px;
  cursor: pointer;
  width: 85%;
}

button:hover {
opacity: 0.8;
}
.labels{
  margin-left:29.5px ;
  font-family: cursive;
  font-size: 25px

}
input[type=text], input[type=file] {

width: 85%;
padding: 12px 20px;
margin: 2px 0;
display: inline-block;
border: 2px solid #ccc;
box-sizing: border-box;
margin-left:29.5px ;
margin-block: 10px;

}
