<html>
  <head>
    <style>
      .top-head {
        background-color: black;
        font-size: 16px;
        height: 130px;
        border-width: 10px;
        color: aliceblue;
        margin: 0;
        display: flex;
        column-gap: 25px;
        column-count:3; 
      }
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="top-head">
      <div><img
        style="height: 65px; width: 55px; backface-visibility: hidden;margin-left: 210px;margin-top: 20px;"
        class="d-inline-block align-top"
        src="../images/vishnulogo.png"
        alt=""
      /></div>
      <div style="margin-left: 30px;margin-top: 10px;"><h2>SHRI VISHNU ENGINEERING COLLEGE FOR WOMEN </h2><i><h4>(Autonomous)</h4></i>
        <!-- <br><b><center/><h3 style="margin-top:5px;">E-CIRCULARS APPLICATION</h3></b></div> -->
    </div>
    <div id="header1"></div>
  </body>
</html>
