<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/officepage.css" />
  </head>
  <body>
    <center><h3 style="color:rgb(27, 74, 6);padding-top: 5px;"><i><%=msg1%></i></h3></center>
      <form action="/users/insertoffice" method="post" >
        <div class="container">
          <div class="labels">UPLOAD CIRCULAR</div>
          <input type="date" name="id" required>
          <div class="labels">Description</div>
          <input name="Text1" cols="25" type="text" rows="5" required>
          <div class="labels">Select branch</div>
          <select name="branch" class="selectclass">
            <option value="ALL" selected>ALL</option>
            <option value="Office">Office</option>
            <option value="CSE">CSE</option>
            <option value="IT">IT</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="MECH">MECH</option>
            <option value="CIVIL">CIVIL</option>
            <option value="AIML">AIML</option>
            <option value="AIDS">AIDS</option>
          </select>
          <button type="submit" >Next</button>
      </div>
    </form>
    </div>
    </section>
  </body>
</html>

