<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/searchfile.css" />
  </head>
  <body>
    <section>
      <div class="box">
        <form action="/users/search" method="post">
          <label for="search date"><h3><b>SEARCH DATE</b></h3></label
          ><br />
          <input type="date" name="date1" /><br><br>
          <input
            type="submit"
            value="SHOW"
            style="background-color: rgb(26, 186, 178);"/>
        </form>
      </div>
    </section>
  </body>
</html>
