<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/uploadfile.css" />
  </head>
  <body> 
      <div style="margin-top: 100px;">
        <center><h3 style="color:rgb(27, 74, 6);padding-top: 5px;"><i><%=msg1%></i></h3></center>
      <form action="/users/insert" method="post" >
        <div class="container">
          <div class="labels">UPLOAD CIRCULAR</div>
          <input type="date" name="id" required>
          <div class="labels">Description</div>
          <input name="Text1" cols="25" type="text" rows="5" required>
          <button type="submit" >Next</button>
      </div>
    </form>
    </div>

  </body>
</html>
