<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/uploadfile.css" />
  </head>
  <body>
    
    <section>
      <div class="box">
      <form action="/users/insert" method="post" >
        <h3>UPLOAD FILE</h3><br>
        <input type="date" name="id"/><br /><br />
        <label for="Description"><b>Description</b></label><br />
        <textarea name="Text1" cols="25" rows="5"></textarea><br />
        <div >
          <button type="submit">Next</button>
        </div>
    </form>
    </div>
    </section>
  </body>
</html>
