<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='stylesheets/login.css' />
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <h3 align="center" style="padding-top: 20px;">E-CIRCULARS APPLICATION</h3>
        <h4 align="center" style="color:red;margin-top:35px"><i><%= msg %></i></h4>
            <%- include('./partials/login') %>
    </main>
    
  </body>
</html>