<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <%- include('./partials/navbarcss'); %>
    <main>
      <center>
        <%- include('./partials/officepage'); %>
      </center>
    </main>
  </body>
</html>