<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <%- include('./partials/navbarcss'); %>
    <main>
      <%- include('./partials/searchfile'); %>
    </main>
  </body>
</html>
